---
http_interactions:
- request:
    method: get
    uri: http://itunes.apple.com/search?media=tvShow&attribute=showTerm&term=firefly&entity=tvEpisode&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-orig-url-path:
      - /search?media=tvShow&attribute=showTerm&term=firefly&entity=tvEpisode&limit=200
      x-apple-translated-wo-url:
      - /WebObjects/MZStoreServices.woa/ws/wsSearch?media=tvShow&attribute=showTerm&term=firefly&entity=tvEpisode&limit=200
      x-apple-application-site:
      - ST11
      x-apple-max-age:
      - '3600'
      content-type:
      - text/javascript; charset=utf-8
      x-apple-application-instance:
      - '2027005'
      x-webobjects-loadaverage:
      - '0'
      x-apple-partner:
      - origin.0
    body:
      encoding: US-ASCII
      string: ! "\n\n\n{\n \"resultCount\":14,\n \"results\": [\n{\"wrapperType\":\"track\",
        \"kind\":\"tv-episode\", \"artistId\":151198837, \"collectionId\":151801083,
        \"trackId\":151961947, \"artistName\":\"Firefly\", \"collectionName\":\"Firefly,
        Season 1\", \"trackName\":\"Serenity\", \"collectionCensoredName\":\"Firefly,
        Season 1\", \"trackCensoredName\":\"Serenity\", \"artistViewUrl\":\"http://itunes.apple.com/us/tv-show/firefly/id151198837?uo=4\",
        \"collectionViewUrl\":\"http://itunes.apple.com/us/tv-season/serenity/id151801083?i=151961947&uo=4\",
        \"trackViewUrl\":\"http://itunes.apple.com/us/tv-season/serenity/id151801083?i=151961947&uo=4\",
        \"previewUrl\":\"http://a1508.v.phobos.apple.com/us/r1000/050/Video/9d/49/8c/mzm.obwavtot..640x480.h264lc.d2.p.m4v\",
        \"artworkUrl30\":\"http://a1.mzstatic.com/us/r1000/059/Features/cd/2a/7f/dj.trklowyp.40x30-75.jpg\",
        \"artworkUrl60\":\"http://a4.mzstatic.com/us/r1000/059/Features/cd/2a/7f/dj.trklowyp.80x60-75.jpg\",
        \"artworkUrl100\":\"http://a1.mzstatic.com/us/r1000/059/Features/cd/2a/7f/dj.trklowyp.100x100-75.jpg\",
        \"collectionPrice\":21.99, \"trackPrice\":1.99, \"releaseDate\":\"2002-12-20T08:00:00Z\",
        \"collectionExplicitness\":\"notExplicit\", \"trackExplicitness\":\"notExplicit\",
        \"discCount\":1, \"discNumber\":1, \"trackCount\":14, \"trackNumber\":1, \"trackTimeMillis\":5202463.0,
        \"country\":\"USA\", \"currency\":\"USD\", \"primaryGenreName\":\"Sci Fi &
        Fantasy\", \"shortDescription\":\"The crew of the spaceship Serenity attempt
        to rid themselves of precious salvaged cargo.\", \n\"longDescription\":\"The
        crew of Serenity is eager to rid themselves of an easily traceable cargo they
        salvaged from a vessel adrift in space, totally unaware that a passenger has
        brought an even more dangerous cargo aboard.\"}, \n{\"wrapperType\":\"track\",
        \"kind\":\"tv-episode\", \"artistId\":151198837, \"collectionId\":151801083,
        \"trackId\":151961878, \"artistName\":\"Firefly\", \"collectionName\":\"Firefly,
        Season 1\", \"trackName\":\"The Train Job\", \"collect[...]
