---
http_interactions:
- request:
    method: get
    uri: http://itunes.apple.com/search?media=movie&attribute=movieTerm&term=star%20trek&limit=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-apple-orig-url-path:
      - /search?media=movie&attribute=movieTerm&term=star%20trek&limit=200
      x-apple-translated-wo-url:
      - /WebObjects/MZStoreServices.woa/ws/wsSearch?media=movie&attribute=movieTerm&term=star%20trek&limit=200
      x-apple-application-site:
      - NWK
      x-apple-max-age:
      - '3600'
      content-type:
      - text/javascript; charset=utf-8
      x-apple-application-instance:
      - '1031013'
      x-webobjects-loadaverage:
      - '0'
      x-apple-partner:
      - origin.0
    body:
      encoding: US-ASCII
      string: ! "\n\n\n{\n \"resultCount\":14,\n \"results\": [\n{\"wrapperType\":\"track\",
        \"kind\":\"feature-movie\", \"trackId\":317909453, \"artistName\":\"J.J. Abrams\",
        \"trackName\":\"Star Trek\", \"trackCensoredName\":\"Star Trek\", \"trackViewUrl\":\"http://itunes.apple.com/us/movie/star-trek/id317909453?uo=4\",
        \"previewUrl\":\"http://a1513.v.phobos.apple.com/us/r1000/047/Video/eb/45/66/mzm.crocticq..640x356.h264lc.d2.p.m4v\",
        \"artworkUrl30\":\"http://a5.mzstatic.com/us/r1000/055/Video/b7/ba/da/mzl.kxwraovb.30x30-50.jpg\",
        \"artworkUrl60\":\"http://a4.mzstatic.com/us/r1000/055/Video/b7/ba/da/mzl.kxwraovb.60x60-50.jpg\",
        \"artworkUrl100\":\"http://a1.mzstatic.com/us/r1000/055/Video/b7/ba/da/mzl.kxwraovb.100x100-75.jpg\",
        \"collectionPrice\":9.99, \"trackPrice\":9.99, \"releaseDate\":\"2009-11-17T08:00:00Z\",
        \"collectionExplicitness\":\"notExplicit\", \"trackExplicitness\":\"notExplicit\",
        \"trackTimeMillis\":7606943.0, \"country\":\"USA\", \"currency\":\"USD\",
        \"primaryGenreName\":\"Sci-Fi & Fantasy\", \"contentAdvisoryRating\":\"PG-13\",
        \n\"longDescription\":\"The greatest adventure of all time begins with Star
        Trek, the incredible story of a young crew's maiden voyage onboard the most
        advanced starship ever created: the U.S.S. Enterprise. On a journey filled
        with action, comedy and cosmic peril, the new recruits must find a way to
        stop an evil being whose mission of vengeance threatens all of mankind. The
        fate of the galaxy rests in the hands of bitter rivals. One, James Kirk (Chris
        Pine), is a delinquent, thrill-seeking Iowa farm boy. The other, Spock (Zachary
        Quinto), was raised in a logic-based society that rejects all emotion. As
        fiery instinct clashes with calm reason, their unlikely but powerful partnership
        is the only thing capable of leading their crew through unimaginable danger,
        boldly going where no one has gone before.\"}, \n{\"wrapperType\":\"track\",
        \"kind\":\"feature-movie\", \"collectionId\":343644532, \"trackId\":208510932,
        \"artistName\":\"Nicholas Meyer\", \"collectionName\":\"Star Trek II, III
        & IV\", \"trackName\":\"Star Trek II: The Wrath of Khan\", \"collectionCensoredName\":\"Star
        Trek II, III & IV\", \"trackCensoredName\":\"Star Trek II: The Wrath of Khan\",
        \"collectionViewUrl\":\"http://itunes.apple.com/us/movie/star-trek-ii-the-wrath-of-khan/id208510932?uo=4\",
        \"trackViewUrl\":\"http://itunes.apple.com/us/movie/star-trek-ii-the-wrath-of-khan/id208510932?uo=4\",
        \"previewUrl\":\"http://a1950.v.phobos.apple.com/us/r1000/039/Video/ed/66/d3/mzm.vavuseot..640x478.h264lc.d2.p.m4v\",
        \"artworkUrl30\":\"http://a4.mzstatic.com/us/r1000/016/Music/ae/2b/cd/dj.klkfweum.30x30-50.jpg\",
        \"artworkUrl60\":\"http://a3.mzstatic.com/us/r1000/016/Music/ae/2b/cd/dj.klkfweum.60x60-50.jpg\",
        \"artworkUrl100\":\"http://a5.mzstatic.com/us/r1000/016/Music/ae/2b/cd/dj.klkfweum.100x100-75.jpg\",
        \"collectionPrice\":14.99, \"trackPrice\":9.99, \"releaseDate\":\"1982-06-04T07:00:00Z\",
        \"collectionExplicitness\":\"notExplicit\", \"trackExplicitness\":\"notExplicit\",
        \"discCount\":1, \"discNumber\":1, \"trackCount\":3, \"trackNumber\":1, \"trackTimeMillis\":6780447.0,
        \"country\":\"USA\", \"currency\":\"USD\", \"primaryGenreName\":\"Sci-Fi &
        Fantasy\", \"contentAdvisoryRating\":\"PG\", \n\"longDescription\":\"It is
        the 23rd century. The Federation Starship U.S.S. EnterpriseTM is on routine
        training maneuvers and Admiral James T. Kirk (William Shatner) seems resigned
        to the fact that this inspection may well be the last space mission of his
        career.  But Khan is back. Aided by his[...]
