%p Hi there,

%br

%p Someone has requested a link to change your password. Use the link below to do this.

%p= link_to "Change my password", edit_password_reset_url(@password_reset)

%p
  If you didn't request this, you can safely ignore this email. The link
  included in this email will remain valid for 2 hours.

%br

%p Thank you,

%p
  = link_to "Alex", "mailto:alex@anticlever.com?subject=Upcoming"
  and
  = link_to "Upcoming", "http://upcoming.anticlever.com"

%br

%p ---

%p
  If you've received this message in error, or just no longer want to receive
  these messages, you can
  = link_to "click here to unsubscribe", "http://upcoming.anticlever.com/searches/stop_all_emails"
  from all of your Upcoming searches.
