%h1 Your Searches

%table.searches

  %tbody
    - @searches.each do |search|
      %tr
        %td= image_tag search.records.first.artwork_url if search.records.count > 0
        %td= link_to search.term, search_path(search)
        %td= search.style
        %td.pull-right= button_to "Delete", search_path(search), method: :delete, class: "btn btn-danger"
