%h1 Your Searches

%table.searches

  %thead
    %th Search
    %th Type
    %th &nbsp;

  %tbody
    - @searches.each do |search|
      %tr
        %td= link_to search.term, search_path(search)
        %td= search.style
        %td= button_to "Delete", search_path(search), method: :delete, class: "btn btn-danger"
