%h1 #{pluralize @search.count, 'search results'} for #{describe_search @search}

%ul

  - @search.each do |result|

    %li= render "result", result: result

%p= link_to "Search again", new_search_path
