@import "compass"
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"

h1, h2
  margin-bottom: 25px

input[type='submit']
  margin-top: 25px

table.searches
  +box-shadow
  width: 100%
  tbody
    td
      padding: 20px
    tr
      &:nth-child(odd)
        background-color: rgba(96, 48, 48, 0.1)
      &:nth-child(even)
        background-color: rgba(32, 16, 0, 0.1)
    tr + tr
      border-top: 1px solid rgba(0, 0, 0, 0.05)
