@import "compass"
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"

h1, h2
  margin-bottom: 25px

input[type='submit']
  margin-top: 25px

.top-label
  float: left
  max-width: 500px

.top-controls
  float: right

ul.nav-tabs.search-types
  border-right: none
  li.active
    a
      border-color: rgba(128, 80, 0, 0.5)
      background-color: rgba(255, 160, 0, 0.5)
  a
    border-color: rgba(48, 32, 0, 0.5)
